@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');
:root {
  /* --appColor: #3c3f45; */
  --grey: #9b9999;
  --white: #ffffff;
  --yellow: #ececab;
  --red: #ea8282;
  --green: #a0f3ad;
}

.App {
  background-color: var(--appColor);
  /* display: flex;
  flex-direction: column;
  gap: 6rem;
  overflow: hidden; */

  /* display: grid;
  height: 100vh;
  grid-template-rows: 10% auto 10%; */
  font-family: 'Montserrat', sans-serif;
}

.padding {
  padding-left: 15rem;
  padding-right: 15rem;
}
.theme {
  background-color: #000000;
  color: var(--white);
}

.logo-text {
  font-family: 'Big Shoulders Inline Display', cursive;
}

.event-text {
  font-family: 'Big Shoulders Text', cursive;
}

.text {
  font-family: 'Sofia Sans', sans-serif;
}

/* .stroke-text {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.btn {
  background-color: white;
  padding: 0.5rem;
  font-weight: bold;
  border: solid 4px transparent;
  transition: 300ms all;
}
.btn:hover {
  cursor: pointer;
} */
::-webkit-scrollbar {
  display: none;
}

.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
