.auth {
  display: grid;
  height: 100vh;
  grid-template-columns: 55% 45%;
}
.auth-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ecefff;
}

.heading {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 8rem;
  color: #525252;
  gap: 1.5rem;
}

.heading > span {
  font-size: 2rem;
  font-weight: bold;
}
.auth-left > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.auth-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  color: white;
  gap: 2rem;
}
.authForm {
  width: 70%;
  margin-top: 5rem;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.authForm > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Form Styling */
.infoForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.infoInput {
  border: none;
  outline: none;
  width: 80%;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  flex: 1;
}

.infoForm > div {
  display: flex;
  gap: 1rem;
  height: 2rem;
  width: 90%;
}

.infoButton {
  width: 80%;
  height: 2.5rem;
  background-color: #764fff;
  color: white;
  border-radius: 0.5rem;
}
